body {
  font-family: arial, sans-serif;
}
.google {
display: flex;
justify-content: flex-end;
position: relative;
padding: 10px

}
.button{
  background-color: #0057e7;
  color: white;
  border:none;
  width:50px;
  height: 25px;
  padding: 5px 5px;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}
#header-one{
display:flex;
justify-content: space-between;
flex-flow: row ;
width: 200px;
align-content: flex-end;

}
#googleimage{
position: relative;
display: flex;
justify-content: center;
padding: 75px ;
}
.search{
  position: relative;
  display: flex;
  justify-content: center;
  width: 1500px;
  height: 30px;
  padding:5px;

}
.idk{
  width:1500px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  height: 30px;

}
.foot{
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  bottom: 0;
  height: 25px;
  position: absolute;
  width: 100%;
}
#left-footer{
  display: flex;
  justify-content: space-between;
  width:300px;
  color: #222;
  padding: 5px 5px 5px 5px;
}
#right-footer{
  display:flex;
  justify-content: space-between;
  width: 300px;
  padding: 5px 5px 5px 5px;
}
